#contenedor{
    
    width: 1200px;
    height: 1000px;
    background-color: rgb(152, 106, 196);
    max-width: 0 auto;
    
    
    
    }
    
    
    #encabezado{
    
    height: 10%;
    background-color: rgb(199, 194, 235);
    margin: 1em auto;
    margin-top: 50px;
    text-align: center;

    
    
    }
    #menu{
    
        height: 5%;
        background-color: rgb(177, 176, 184);
        margin: 1em auto;
        
        
        }
        /*selector universal */
        *{
            padding: 0 auto;
            margin: 0 auto;
        }
    #seccion{
        height: 70%;
        width: 61%;
        background-color: rgb(247, 215, 250);
        margin: 0.5 em;
        float: left;
        
        }
    
    #fueraseccion{
    height: 70%;
    width: 36%;
    background-color: rgb(190, 188, 188);
    margin: 0.5 em;
    float: right;
    
    
    }
    #pie{
    
    height: 5%;
    background-color: azure;
    border-radius: 1em;
    margin: 1.5 em;
    
    
    
    }
    /* selector de clase*/
    
    .texto{
    
    text-align: justify;
    font-family: arial;
    font-size: medium;
    margin-right: 15px;
    margin-top: 15px;
    
    
    
    }
    .encabezado_articulo{
    
    text-align: center;
    background: #333;
    color: azure;
    margin: auto 2em;
    
    }
    
    .imagenes{
    
    display: block;
    border: 1px solid #ddd;
    margin-left: 40%;
    width: 200px;
    margin-top: 20px;
    
    }
    
    /* selector de etiqueta */
    
    ul {
    
    text-align: center;
    
    
    }
    
    li {
    
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    
    
    }